extends layout

block content
  //- h1= Name
  //- p Welcome to my Website!

  html
    head
        title = faketitle
    
    img(src='https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924__340.jpg')
   

    body
        h1 Kuber-Ladies Home Page	
        br
        br
        br
    <div class="topnav">
      <a class="active" href="#home">Home</a>
      <a href="#upload">Upload Business Info Here</a>
      //- <a href="#catalogue">Full Catalogue of Businesses</a>
    </div>    
      br
      br
      br

  h4 Who Are We And What Do We Do?
  p The purpose of this website is to serve as an online database for Minority-owned Small Businesses in your area!

  br

  h3 Use our search engine to get started!
  br
  br
  
  form(action="/results", method="post")
    //- input#search-bar(type="text", placeholder="Category", name="category")
<<<<<<< HEAD
    
    select#category(name = "category")
      each val in [{value: "", name: "Select Category"},{value: "Food", name:"Food"},{value: "Beauty", name:"Beauty"},{value: "Health & Wellness", name:"Health & Wellness"}, {value: "Retail", name:"Retail"}, {value: "Entertainment", name:"Entertainment"}, {value: "Services", name:"Services"}]
        option(value=val.value) #{val.name}


=======
    select#minority-list(name = "minorityGroup")
      each val in [{value: "", name: "Select Minority Group"},{value: "Black/African-American", name:"Black/African-American"},{value: "Asian", name:"Asian"},{value: "Hispanic/Latinx", name:"Hispanic/Latinx"}, {value: "LGBTQ+", name:"LGBTQ+"}]
        option(value=val.value) #{val.name}

    select#category(name = "category")
      each val in [{value: "", name: "Select Category"},{value: "Food", name:"Food"},{value: "Beauty", name:"Beauty"},{value: "Health & Wellness", name:"Health & Wellness"}, {value: "Retail", name:"Retail"}, {value: "Entertainment", name:"Entertainment"}, {value: "Services", name:"Services"}]
          input#search-bar(type="text", placeholder="Category", name="category")
>>>>>>> df297723fe81d0e8fa72ceb48ddbad230972e399
    select#minority-list(name = "minorityGroup")
      each val in [{value: "", name: "Select Minority Group"},{value: "Black/African-American", name:"Black/African-American"},{value: "Asian", name:"Asian"},{value: "Hispanic/Latinx", name:"Hispanic/Latinx"}, {value: "LGBTQ+", name:"LGBTQ+"}, {value: "No Preference", name:"No Preference"}]
        option(value=val.value) #{val.name}
<<<<<<< HEAD
    //- input#search-bar(type="text", placeholder="Search business", name="bizIndex")
=======
          input#search-bar(type="text", placeholder="Search business", name="bizIndex")
>>>>>>> df297723fe81d0e8fa72ceb48ddbad230972e399

    button#search-btn(type="submit") Search

