extends layout

block content
  a(href="/") Home
  each item in myList
    div(class='table')
      table
        tr
          div(class='rows')
            - var url = '/bizInfo/?id=' + item.ID;
            a(href=url) #{item.Name}
        tr
            td="Location: " + item.Address 
        tr
            td="Tel: "+ item.Phone
        tr
            td="Info: " + item.Description
        tr
            img(src=item.Images)    